body {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin: 0;
}

.top-section {
	background-color: #EAF6F6;
	position: relative;
	width: 100%;
}

h1 {
	color: #66BFBF;
	font-family: 'Pacifico', cursive;
	padding-top: 200px;
	margin: 0;
	font-size: 5rem;
}

h2 {
	font-weight: normal;
	color: #66BFBF;
	font-size: 3rem;
}

.top-cloud {
	position: absolute;
	top: 30px;
	right: 100px;
	width: 20%;
}

.bottom-cloud {
	position: absolute;
	bottom: 500px;
	left: 30px;
	width: 20%;
}

.mountain {
	width: 50%;
	padding-top: 100px;
}

.mid-section {
	text-align: center;
	padding-top: 100px;

}

.profile-photo{
	width: 30%;
	border-radius: 100%;
}

p {
	color: #40514E;
	line-height: 2;
}

hr {
	border-width: 15px 0 0 0;
	border-style: dotted;
	border-color: #ccc;
	width: 10%;
	margin-top: 50px;
}

h3 {
	color: #66BFBF;
	padding-top: 40px;
}

.gaming {
	text-align: left;
	position: relative;
	width: 40%;
	margin: 0, auto;
	display: inline-block;
}

.controller-img {
	width: 30%;
	float: left;

}

.programming {
	text-align: right;
	position: relative;
	width: 40%;
	margin: 0, auto;
	display: inline-block;
}

.programming-img {
	width: 30%;
	float: right;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin-top: 50px;
}

.bot-section {
	background-color: #66BFBF;
	padding: 30px;
	margin-top: 30px;
	
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a {
	margin: 0 10px;
	color: #11999E;
	text-decoration: none;
}

.copyright {
	color: white;
}

.intro {
	width: 30%;
	margin: 0 auto;
}
